spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        show_sql: false   # ⬅️ cambiar esto

  flyway:
    enabled: false

server:
  port: ${PORT:8080}     # ⬅️ ESTE ES CLAVE
