spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/silog_db
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none   # No queremos que Hibernate modifique las tablas
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        show_sql: true

  flyway:
    enabled: false   # <- desactivamos Flyway
